.pagination {
    width: 200px;
    margin: 40px auto auto;
    height: 30px;
}
.pagination li {
    float: left;
    margin-left: 15px;
    border: 1px solid #ACB2BA;
    border-radius: 100%;
    padding: 0px 7px;
    text-align: center;
}
header {
    margin-bottom: 40px;
}
.modal-footer{
	margin-bottom: 20px;
}
.imginfos>li{
	border: none !important;
}
.no-padding-left{
	padding-left: 0 !important;
}
.image-id{
	background-image: url(/redesign/css/analytics/images/icons-all.png);
	background-position: 6px -209px;
	background-size: 27px;
	background-repeat: no-repeat;
	text-indent: 35px;
}
.append{
	z-index: 222;
	float: left;
	margin-bottom: 30px;
	width: 100% !important;
	height: auto !important;
}
.imginfos~.append{
	display: none;
}
.append .data-geo-details{
	background: #fff;
	border: 1px solid #adb2b8;
}
.select-date{
	margin-left: 20px;
}
.country-name{
	width: 12%;
}
table thead {
    border-bottom: 2px solid #acb2ba;
}
.arrow{
	content: "";
	display: none;
	position: absolute;
	top: 44px;
	left: 50%;
	margin-left: -10px;
	width: 0;
	z-index: 223;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 12px solid #379fe7;
}
table tr {
    border-top: 1px solid #acb2ba;
    border-bottom: none;
}
table tr:first-child{
	border-top: 0;
}
.imginfos>li{
	padding: 0 !important;
	margin-bottom: 20px !important;
	width: auto !important;
}
.img-info{
	width: 270px;
	float: left;
}
.imgshow{
	width: 100%;
	height: 170px;
	background-image: url(/redesign/css/analytics/images/cars.png);
	background-position: center bottom;
	background-size: contain;
	background-repeat: no-repeat;
	position: relative;
}
.details{
	border: 1px solid;
}
.tip-contents{
	line-height: 34px;
	color: #000;
	text-indent: 20px;
}
.body-item{
	border: none !important;
}
.tip-contents span{
	text-align: left;
	width: 60px;
	display: inline-block;
}
.tip-contents span:first-child{
	color: #b6b6b9;
}
.showDetail{
	color: #1c91e3;
	cursor: pointer;
	line-height: 33px;
	text-align: center;
	position: relative;
	border-top: 1px solid #000;
}
.tit-item-left li{
	float: left;
	line-height: 46px;
	text-align: center;
	font-size: 18px;
	padding: 0 3%;
}
.tit-item-left li.active{
	border-bottom: 4px solid #44b2fe;
}
.tit-item-left a{
	color: #fff;
}
.closebtn{
	display: inline-block;
	width: 30px;
	height: 30px;
	background-color: antiquewhite;
	right: 0;
	position: absolute;
	bottom: 0;
	background-image: url(creative/images/d3-modal-close.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: 20px;
	height: 20px;
}
.subnav{
	border-radius: 0;
}
.body-item{
	margin-bottom: 40px;
}
.body-item table{
	width: 94%;
	margin: 0 3%;
}
.body-item table tr:nth-child(even) {
    background-color: #f6f6f6;
}
table td {
    padding: 0 12px;
    height: 51px;
    line-height: 9px;
}
.hidden{
	display: none;
}
.ac_daterange_quick_range li a{
	color: #167ddc;
}
@media screen and (max-width: 1024px) {
	.append{
		width: 100% !important;
	}
}
.select-default{
	width: 100%;
}
.date-wrap-modal{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
}