@charset "utf-8";

/*  基础样式
----------------------------------------------------------------------------------------------------*/
html,
body, h1, h2, h3, h4, h5, h6, hr, p, iframe,
dl, dt, dd, ul, ol, li,
form, button, input, textarea,
th, td {
	margin: 0;
	padding: 0;
}
body, button, input, select, textarea {
	color: #fff;
	font: 16px/26px  serif;
}
html {
	overflow-y: scroll; 
}
img {
	border: none;
}
a {
	color: #fff;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
iframe {
	border: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
ol, ul {
	list-style-type: none;
}

/*  清除浮动
----------------------------------------------------------------------------------------------------*/

.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: visible;
	width: 0;
	height: 0;
}

.clearfix:before,
.clearfix:after {
	content: '\0020';
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	zoom: 1;
}
